@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.App {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

.header {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.form-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./Images//background5.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mission-box {
    max-width: 870px;

}

.mission-row {
    display: flex;
}

.col {
    flex: 48%
}

.right {
    margin-left: 3%;
}

.idk {
    max-width: 430px;
}

.form {
    position: relative;
    width: 100%;
    max-height: 65vh;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 34px;
    padding-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    max-width: 870px;
}

.form h2 {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;
}

.form h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background: #4070f4;
}

.form form {
    margin-top: 30px;
}

.form form .input-box {
    height: 52px;
    margin: 18px 0;
}

form .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #4070f4;
}

.input-box .button input {
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #4070f4;
    cursor: pointer;
}

.button input {
    background-color: #4070f4;
    color: white;
}

.button input:hover {
    cursor: pointer;
    background-color: rgba(64, 112, 244, 0.8);
}

.button .loading {
    background-color: rgba(64, 112, 244, 0.8);
}

.form .errorMessage {
    text-align: center;
    color: red;
}

.radio {
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}
